doctype html
html
  head
    title Beast Singing Audition
    block scripts
    block style
    
  body
    nav#navbar 
        ul 
            div.logo 
                img(src="/static/logo.png", alt="")
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/audition") +18 Audition]
            li #[a(href="/kid") kids Audition]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | copyright © 2021 BeastSingingAcademy.com | All rights and reservers 