doctype html
html
  head
    title Beast Singing Audition
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div.logo 
                img(src="/static/logo.png", alt="")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") 18+ Audition]
            li #[a(href="/") kids Audition]
            li #[a(href="/") Contact Us]
    hr
    section#introSection 
      h2 Welcome to Beast Singing Audition 
      h3.small Eat Sing Sleep Repeat 
    hr
    section#missionSection 
      h2 Our Target 
      div.para 
        p.gg Promoting:- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem pariatur cupiditate ratione sequi fugit tenetur, magnam adipisci doloremque odit Porro quam veniam deserunt quos magni necessitatibus nam exercitationem eaque? Vero reprehenderit ratione provident, iure odio eligendi ipsam quisquam, odit deleniti, laborum vitae aliquam? Aperiam enim dignissimos neque molestias, deserunt reprehenderit?

        p.hh Singing:- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda dolorum temporibus reprehenderit odit cumque recusandae illum sit eveniet placeat at ipsum, blanditiis tenetur cupiditate dolorem asperiores voluptate, harum necessitatibus. Delectus quas voluptatem aliquam maiores minus sed quibusdam veritatis autem facere esse laboriosam, tempore quo ab atque, laborum reprehenderit eos eveniet?

        p.kk Fam :- Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolorem numquam voluptate illum distinctio! Laudantium error tempore accusamus labore incidunt cum eos porro corporis fuga itaque dolorem, obcaecati nulla illum dolore nam laboriosam unde alias! Explicabo quasi ipsum, maxime, quam reprehenderit eum tempora aspernatur commodi id soluta incidunt necessitatibus vero?

        p.ll Global:- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quidem veniam consequatur ad debitis, reiciendis unde harum labore autem alias nisi quos in nihil ab, pariatur dolorum. Ea, commodi. Voluptatibus temporibus autem molestias unde quas nihil voluptatem nam tenetur dignissimos. Excepturi ducimus quisquam dolorem quos facere, minus fugiat autem aspernatur. 
    hr
    section#sponsorsSection 
      h2 Our Sponsors 
      div#yoyo
        img(src="/static/logo1.png", alt="source code", class="spImage")
        img(src="/static/logo2.png", alt="source code", class="spImage")
        img(src="/static/logo3.png", alt="source code", class="spImage")
        img(src="/static/logo4.png", alt="source code", class="spImage")
    hr
    footer#footer 
      | copyright © 2021 BeastSingingAcademy.com | All rights and reservers 
    script
      include ../static/index.js