*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: url('/static/aboutbg.jpg') center/cover no-repeat;
    opacity: 0.8;
}
.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0;
    padding: 5px 5px;
    font-size: 2rem;
    color: aliceblue;
}
.real h2{
    margin: 5px 15px;
    color: aliceblue;
    padding: 5px 0;
}
.real p{
    margin: 2px 15px;
    color: aliceblue;
    padding: 3px 0;
}
.image img{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 390px;    
    z-index: -1; 
}
